<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type" />
</head>


<body style="background-color: antiquewhite;font-size: 45px;">
	<center>
		h5 demo page
		<p>
			<input type="button" value="Goto Setting Page" style="font-size: 30px;" onclick="gotoSettingPage()" /><br/><br/>
			<input type="button" value="Call Android Method" style="font-size: 30px;" onclick="sharePoster()" /><br/>
			
		</p>
		<p style="width: 100%;">
			<span id="show">status bar</span>
		</p>
	</center>
</body>
<script>
    function gotoSettingPage() {
		document.getElementById("show").innerHTML = "gotoSettingPage + + + + + ";
		  window.WebViewJavascriptBridge.callHandler(
			"goToSetting", {}, function(responseData) {
				  document.getElementById("show").innerHTML = responseData;
			}
		  );
    }
	
	
	function sharePoster() {
		document.getElementById("show").innerHTML = "sharePoster + + + + + ";
		  window.WebViewJavascriptBridge.callHandler(
			"startShare", 
			{
				"title": "邀好友得优惠",
				"url": "http://192.168.0.105:5000/share.html",
				"imageUrl": "http://192.168.0.105:5000/share.png",
				"thumbUrl": "http://192.168.0.105:5000/share.png",
				"content": "被成功邀请1位好友注册，即可获得惊喜优惠产品",
				"channels": [{
					"channel":0,
					"type":2
				},{
					"channel":1,
					"type":2
				},{
					"channel":2,
					"type":2
				}]
			},			
			function(responseData) {
				  document.getElementById("show").innerHTML = responseData;
			}
		  );
    }	
	
    /**
      这个库将把WebViewJavascriptBridge对象注入到窗口对象。
      所以在您的js中，在使用WebViewJavascriptBridge之前，
      必须检测WebViewJavascriptBridge是否存在。
      如果WebViewJavascriptBridge未退出，
      则可以侦听WebViewJavascriptBridgeReady事件
    */
	
    connectWebViewJavascriptBridge(function(bridge) {
      bridge.init(function(message, responseCallback) {
        if (responseCallback) {
          responseCallback(data);
        }
      });

      bridge.registerHandler("androidCallJS", function(data, responseCallback) {
        document.getElementById("show").innerHTML =
          "params from Android：" + data;
        if (responseCallback) {
          var responseData = `{"nickname":"夜华","age":"5万岁","address":"十三重天"}`;
          responseCallback(responseData);
        }
      });
    });

    function connectWebViewJavascriptBridge(callback) {
      if (window.WebViewJavascriptBridge) {
        callback(WebViewJavascriptBridge);
      } else {
        document.addEventListener(
          "WebViewJavascriptBridgeReady",
          function() {
            callback(WebViewJavascriptBridge);
          },
          false
        );
      }
    }
  </script>
</html>